<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <a class="navbar-brand" href="#">Z pola i lasu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" routerLink="products">Lista produktów</a>
      <a class="nav-item nav-link" routerLink="hand-made">Rękodzieło</a>
      <a class="nav-item nav-link" routerLink="basket">Koszyk</a>
      <a class="nav-item nav-link" routerLink="contact">Kontakt</a>
      <a class="nav-item nav-link" routerLink="about-us">O nas</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
