<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <a class="navbar-brand" href="#">Produkty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="products">Produkty</a>
            <a class="nav-item nav-link" routerLink="contact">Kontakt</a>
            <a class="nav-item nav-link" routerLink="about-us">O nas</a>
            <a class="nav-item nav-link" routerLink="admin">Admin</a>
        </div>
    </div>
</nav> -->

<nav class="navbar bg-white">
    <form class="container-fluid justify-content-start bg-white">
        <!-- <button class="btn btn-outline-success me-2" type="button" routerLink="products">Produkty</button> -->
        <button class="btn btn-sm m-1 btn-outline-secondary" [ngStyle]="{'background-color': buttonProductsClicked ? 'gray' : 'white', 'color': buttonProductsClicked ? 'white':'gray'}" type="button" (click)="showProducts()">Produkty</button>
        <button class="btn btn-sm m-1 btn-outline-secondary" [ngStyle]="{'background-color': buttonClientsClicked ? 'gray' : 'white', 'color': buttonClientsClicked ? 'white' : 'gray'}" type="button" (click)="showClients()">Klienci</button>
        <button class="btn btn-sm m-1 btn-outline-secondary" type="button" routerLink="content">Kontent</button>
    </form>
</nav>

<app-manage-products class="product-list-manager" [ngStyle]="{'display': productsVisibility ? 'block' : 'none'}"></app-manage-products>

<app-manage-clients class="client-list-manager" [ngStyle]="{'display': clientsVisibility ? 'block' : 'none'}"></app-manage-clients>
